

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Website</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
</head>
<body class="w3-light-grey">
    <%- include('navbar') %>
    <!-- About Us Section -->
    <section id="about" class="py-5">
    <div class="container text-center">
      <h2 class="display-6">About Us</h2>
      <p class="mt-4"></p>
      "Welcome to our platform dedicated to raising awareness about civil issues. We aim to provide insightful information and resources to empower individuals and communities in addressing these critical challenges."
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="img-container">
                    <img src="/images/Vikalp.jpg" alt="Description of Image" class="rounded-circle" height="500">
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light text-center py-3">
    <p>© 2024 Dog Needs Service | <a href="/Work">Privacy Policy</a></p>
  </footer>
</body>
</html>
